

<form action="/user/listings" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name = "id" value= <%= listing["id"]%> >
    <button>delete</button>
</form>
<a href="/user/listings/<%=listing["id"]%>/edit">Edit ad</a>

<div class="user-listing-wrapper">       
    <div class="user-listing-layout">
        <div class="listing-headline"><%=listing["headline"]%></div>
        <div class="listing-price"><%= listing["price"]%></div>
        <div class="listing-image-conatiner"><img class= "listing-img" src=<%= listing["img_url"]%> alt=""></div>
        <div class="listing-details">
            <div class="listing-description"><p>description: <%= listing["description"]%></p></div>
        </div>
        <div class="listing-suburb"><%= listing["suburb"]%></div>
    </div>
    
     <% messages = retrieve_messages_for_listing(listing["id"])%>

       <div class="user-messages-container">
        <%if messages%>

            <%messages.each do |message|%>
       
        <div class="user-message-detail">
            <div class="user-message-date">
            <%=listing_timestamp_to_display(message["date"])%>
           </div>
            <div class="user-message-message">
                <%=message["message"]%>
            </div>
            <div class="user-message-potential-buyer-name">FROM:<%=message["potential_buyer_name"]%></div>
            <div class="user-message-potential-buyer-contact">CONTACT:<%=message["potential_buyer_contact"]%></div>
        </div>
            <%end%>
         <%end%>
         </div>
    
</div> 