<h1><%=listing["headline"]%></h1>

<p>description: <%= listing["description"]%></p>
<p>suburb: <%= listing["suburb"]%></p>
<p>price: <%= listing["price"]%></p>
<img src=<%= listing["img_url"]%> alt="">

<form action="/user/listings" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name = "id" value= <%= listing["id"]%> >
    <button>delete</button>
</form>
<a href="/user/listings/<%=listing["id"]%>/edit">Edit ad</a>