<h1>Listings</h1>
<div class="search-layout">
<form class="search-bar"action="/">
        <div class="input-container">
        <i class="fa fa-search icon"></i>
        <input class="input-field" type="text" placeholder="Enter search" name="headline"  value='<%= headline%>'>
        </div>
        <div class="select">
        <select name="relevance">
                <option value="post_date desc" <% if sort_query == "post_date desc"%> selected <% end%>>Newest</option>
                <option value="post_date asc" <% if sort_query  == "post_date asc"%> selected <% end%>>Oldest</option>
                <option value="price asc" <% if sort_query  == "price asc"%> selected <% end%>>Cheapest</option>
                <option value="price desc" <% if sort_query  == "price desc"%> selected <% end%>>Expensive</option>
        </select>
        </div>
        <div class="search-btn-layout">
        <button class="search-btn">search</button>
        </div>

</form>

</div>
<div class="wrapper">
        <% listings.each do |listing|%>
        <a class="listings" href="/listings/<%= listing["id"]%>">
                <div class="listings-layout"> 
        
                        <img class= "listings-img"src=<%= listing["img_url"]%> alt="">
                
                        <div class="listings-details">
                                <div class="listing-heading"> <%= listing["headline"] %> 
                                
                                
                                </div>
                                <div class="price"> <%= listing["price"]%></div>
                                <div class="listings-description"><%= listing["description"]%> </div>
                        </div>

                        <div class="listings-suburb-date">
                                <div class="suburb"><%= listing["suburb"]%></div>
                                <div class="date-posted"><%=listing_timestamp_to_display(listing["post_date"])%></div>
                        </div> 
                </div>
        </a>

        
        <% end%>
</div>
     


