<h1><%=listing["headline"]%></h1>

<p>description: <%= listing["description"]%></p>
<p>suburb: <%= listing["suburb"]%></p>
<p>price: <%= listing["price"]%></p>
<img src=<%= listing["img_url"]%> alt="">


